<!-- Copied from https://codepen.io/xwatkins/pen/rXpZXX -->

<!-- Fetch polyfill and D3 library -->
<script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@3.0.0/dist/fetch.umd.min.js" defer></script>
<script src="https://d3js.org/d3.v4.min.js" charset="utf-8" defer></script>

<!-- LiteMol plugin and style -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/litemol@2.4.2/dist/css/LiteMol-plugin.min.css" type="text/css"></link>
<script src="https://cdn.jsdelivr.net/npm/litemol@2.4.2/dist/js/LiteMol-plugin.min.js" defer></script>

<!-- Webcomponents polyfill for IE -->
<script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@2.2.10/webcomponents-bundle.js" charset="utf-8" defer></script>
<script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@2.2.10/custom-elements-es5-adapter.js" charset="utf-8" defer></script>

<!-- Babel polyfill / The order between this and webcomponents polyfill is important and means we can't bundle it with the main component -->
<!-- See https://github.com/babel/babel/issues/9829 -->
<script src="https://cdn.jsdelivr.net/npm/@babel/polyfill@7.4.4/dist/polyfill.min.js" charset="utf-8" defer></script>
<script>
  window.addEventListener('protvista-event', (e) => console.log(e.detail))
</script>

<script src="https://cdn.jsdelivr.net/npm/protvista-uniprot@latest/dist/protvista-uniprot.js" defer></script>

<style>
.protvista-uniprot-structure > div {
  display: inline-block;
}
.protvista-uniprot-structure > div.protvista-uniprot-structure__structure {
  width: 450px;
  height: 400px;
}
.protvista-uniprot-structure > div:nth-child(2) {
  width: 545px;
  height: 400px;
  vertical-align: top;
}
.protvista-uniprot-structure > div:nth-child(2) * {
  font-size: 95%;
}
</style>

<protvista-uniprot-structure accession="{{protein_id}}"></protvista-uniprot-structure>
