<!DOCTYPE html>
<html lang="en">
<head>
  <title>Model</title>

  <base target="_blank" />

  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

  <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>
  <script src="https://unpkg.com/layout-base/layout-base.js"></script>
  <script src="https://unpkg.com/cose-base/cose-base.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/cytoscape-fcose@2.2.0/cytoscape-fcose.min.js"></script>
  <script src="https://unpkg.com/cytoscape-layout-utilities/cytoscape-layout-utilities.js"></script>
  <script src="https://unpkg.com/tippy.js@4.0.1/umd/index.all.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/tippy.js@4.0.1/index.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dagre/0.8.5/dagre.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/cytoscape-dagre@2.5.0/cytoscape-dagre.min.js"></script>
  <script src="https://unpkg.com/cytoscape-svg@0.4.0/cytoscape-svg.js"></script>
</head>


<body>
<style>
#cy-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}
#cy {
  flex: 1 1 auto;
  min-width: 100px;
}
#panel-buttons, #actions {
  display: inline-block;
  position: absolute;
  right: 0;
  font-size: 110%;
}
#panel-buttons button, #actions button {
  font-size: 105%;
}
#panel-buttons, #actions {
  padding: 0.2em 0.5em;
  background: #f8f8f8a0;
}
#actions {
  bottom: 1em;
}
#save-svg-button {
  margin-left: 0.3em;
}
#zoom-in, #zoom-out {
  font-weight: bold;
  padding: 0 0.4em;
  margin-left: 0.3em;
}
#cy-panel {
  width: 0.1em;
  flex: 0 0 auto;
  width: 26em;
  display: none;
  height: 100%;
}
#cy-panel-contents {
  display: none;
  height: 100%;
}
#actions {
  padding: 0 0.5em;
  flex: 0 0 auto;
}
#node-details {
  padding: 2em 0 0 0.2em;
  height: 100%;
  overflow: auto;
  background-color: #fbfbfb;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.selected-models div {
  margin: 0.4em 0;
}
.view-joined-models {
  margin: 1em 0;
  font-size: 110%;
}
.panel {
  width: 1200px;
  font-size: 130%;
}
.header {
  margin: 0.2em 0 0.5em 0;
  font-size: 110%;
}

.models {
  padding-top: 0.2em;
}
.model-list {
  padding: 0.1em 0 0.1em 1.3em;
  margin: 0.1em;
}
.model-id {
  padding: 0;
  font-size: 95%;
}
#save-svg-button {
  font-size: 120%;
  padding: 0.2em 0.5em;
}
a.link-button {
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  padding: 4px;
  border-color: #000000
  border-radius: 5px;
  background-color: #eee;
  color: black;
  font-size: 90%;
}
</style>

  <div id="cy-container">
    <div id="cy"></div>
  <div id="panel-buttons">
    <button id="zoom-out" title="Zoom out" onclick="modelZoomOut()">
     <img width="16px" height="16px" src='data:image/svg+xml;charset=utf-8,<?xml version="1.0" encoding="UTF-8" standalone="no"?> <svg width="10mm" height="10mm" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"> <g transform="matrix(0.09090916,0,0,0.09090916,-2.2369372,-4.0168636)"> <rect style="fill:%23000000;stroke-width:0.264583" width="116.41666" height="31.75" x="31.75" y="95.25" ry="0.26052997" /> </g> </svg>'/>
    </button>
    <button id="zoom-in" title="Zoom in" onclick="modelZoomIn()">
      <img width="16px" height="16px" src='data:image/svg+xml;charset=utf-8,<?xml version="1.0" encoding="UTF-8" standalone="no"?> <svg width="10mm" height="10mm" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"> <g transform="matrix(0.09090916,0,0,0.09090916,-2.2369372,-4.0168636)"> <rect style="fill:%23000000;stroke-width:0.264583" width="116.41666" height="31.75" x="31.75" y="95.25" ry="0.26052997" /> <rect style="fill:%23000000;stroke-width:0.264583" width="31.749998" height="116.41666" x="74.083336" y="52.916668" ry="0" /> </g> </svg>'/>
    </button>
  </div>

<div id="actions">
  <button id="save-svg-button" target="_blank" onclick="window.open(getSvgUrl(), '_blank')">View SVG</button>
</div>

<div id="cy-panel">
  <div id="cy-panel-contents">
  <div id="node-details">

  </div>


</div>
</div>
  </div>
<script type="module">
window.getSvgUrl = function() {
  var svgContent = window.cy.svg({scale: 1, full: true});
  var blob = new Blob([svgContent], {type:"image/svg+xml;charset=utf-8"});
  var url = URL.createObjectURL(blob);
  return url;
};

const summaryType = '{{summary_type}}';
const apiPath = '{{api_path}}';
const modelViewPath = '{{model_view_path}}';

let currentModels = [];

document.addEventListener('DOMContentLoaded', async function(){
  const url = apiPath + '/' + summaryType;
  const response = await fetch(url);

  const modelConnections = await response.json();

  const modelSummaryById = {};

  const elements = {
    nodes: modelConnections.nodes.map(node => {
      const summ = { title: node.title };
      modelSummaryById[node.id] = summ;
      const idNoPrefix = node.id.split(':')[1];
      modelSummaryById[idNoPrefix] = summ;

      node.id = idNoPrefix;
      node.label = node.title;
      return { data: node }
    }),
    edges: modelConnections.edges.map(edge => {
      edge.weight = 0;
      edge.id = edge.id.replaceAll('gomodel:', '');
      edge.source = edge.source.replaceAll('gomodel:', '');
      edge.target = edge.target.replaceAll('gomodel:', '');
      return { data: edge }
    }),
  };

  const nodeStyle = {
    'content': 'data(title)',
    'width': '150px',
    'height': '80px',
    'background-color': '#ee8',
    'border-width': 1,
    'border-style': 'solid',
    'border-color': 'black',
    'font-size': 10,
    'text-valign': 'center',
    'color': 'black',
    'shape': 'round-rectangle',
    'text-wrap': 'wrap',
    'text-max-width': 150,
  };

  const edgeStyle = {
    'curve-style': 'bezier',
    'line-style': 'solid',
    'color': '#666',
    'width': 4,
    'line-color': 'black',
    'target-arrow-shape': function(el) {
      const hasDirection = el.data()['has_direction'];
      if (hasDirection) {
        return 'triangle';
      } else {
        return 'none';
      };
    },
    'target-arrow-fill': 'filled',
    'target-arrow-color': 'black',
    'arrow-scale': 2,
  };

  const cy = window.cy = cytoscape({
    container: document.getElementById('cy'),

    ready: function(){
      if (summaryType == 'all_models') {
        this.layout({name: 'fcose', fit: false, randomize: true, quality: 'proof', animate: false}).run();
      } else {
        this.layout({ name: 'dagre',
                    nodeSep: 30,
                    edgeSep: 30,
                    rankDir: 'TB',
                    spacingFactor: 1.2,
                    acyclicer: 'greedy',
                  }).run()
      }
    },

    minZoom: 0.1,
    maxZoom: 8.0,
    zoomingEnabled: true,
    userZoomingEnabled: true,
    wheelSensitivity: 1.5,
    panningEnabled: true,
    userPanningEnabled: true,
    boxSelectionEnabled: true,
    selectionType: 'single',
    touchTapThreshold: 8,
    desktopTapThreshold: 4,
    autolock: false,
    autoungrabify: false,
    autounselectify: false,

    elements,

    style: [
      {
        selector: 'node',
        style: nodeStyle,
      },
      {
        selector: 'edge',
        style: edgeStyle,
      }
    ]
  });


  setTimeout(() => {
    cy.fit();
    cy.center();
  }, 10);

  const contentDiv = document.getElementById("node-details");
  const panelEl = document.getElementById("cy-panel");
  const panelStyle = panelEl.style;
  const panelContent = document.getElementById("cy-panel-contents");

  window.showCyPanel = function() {
    panelStyle.width = '26em';
    panelEl.style.display = 'block';
    panelContent.style.display = 'block';
  };

  window.hideCyPanel = function() {
    panelStyle.width = '0.1em';
    panelEl.style.display = 'none';
    panelContent.style.display = 'none';
  }

  window.modelZoomIn = function() {
    cy.zoom(cy.zoom() / 0.8);
    cy.center();
  }

  window.modelZoomOut = function() {
    cy.zoom(cy.zoom() * 0.8);
    cy.center();
  }

  setTimeout(() => {
    window.hideCyPanel();
  }, 20);

  const addToCurrent = (ids) => {
    ids.map(id => {
      id = id.replace("gomodel:","");
      for (const currentModel of currentModels) {
        if (currentModel.id === id) {
          return;
        }
      }
      currentModels.push({
        id,
        title: modelSummaryById[id].title,
      });
    });

    for (const currentModel of currentModels) {
      cy.$('#' + currentModel.id).style('border-width', 5);
    }
  };

  const clearCurrentModels = () => {
    currentModels = [];
    cy.$().style('border-width', 1);
  };

  const updateDetails = () => {
    let newContent = '';

    if (currentModels.length > 0) {
      newContent = '<div class="header">Selected model' +
        (currentModels.length > 1 ? 's' : '');
      newContent += '</div>';

      if (currentModels.length == 1) {
        newContent += '<div>(click to view)</div>';
      }

      newContent += '<div class="selected-models">';
      for (const modelSummary of currentModels) {
        newContent += '<div><a href="' + modelViewPath + '/' + modelSummary.id +
          '">' + modelSummary.title + '</div>';
      }

      newContent += '</div>';

      if (currentModels.length > 1) {
        newContent += '<div class="view-joined-models">';
        const ids = currentModels.map(m => m.id).join('+');
        const encodedIds = encodeURIComponent(ids);
        newContent +=
          `<a class="link-button" href='${modelViewPath + '/' + encodedIds}:show_models' target='_blank'>View joined models</button>`;
        newContent += '</div>';
      }

      window.showCyPanel()
    } else {
      window.hideCyPanel()
    }

    contentDiv.innerHTML = newContent;
  }

  cy.on('box', 'node', function( e ){
    const node = e.target;
    const id = node.data().id;
    addToCurrent([id]);
    updateDetails();
  });

  cy.on('click', 'node',
        (event) => {
          const data = event.target.data();
          const id = data.id;
          if (!event.originalEvent.shiftKey) {
            clearCurrentModels();
          }
          addToCurrent([id]);
          updateDetails();
        });

  cy.on('click', 'edge',
        (event) => {
          const data = event.target.data();
          const ids = data.id.split('-');
          if (!event.originalEvent.shiftKey) {
            clearCurrentModels();
          }
          addToCurrent(ids);
          updateDetails();
        });

  cy.on('click', (event) => {
    if (event.target === cy) {
      // clicked on the background
      clearCurrentModels();
      updateDetails();
    }
  });
});
</script>

</body>
</html>
