<!DOCTYPE html>
<html lang="en">
<head>
  <title>Model</title>

  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

  <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>
  <script src="https://unpkg.com/layout-base/layout-base.js"></script>
  <script src="https://unpkg.com/cose-base/cose-base.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/cytoscape-fcose@2.2.0/cytoscape-fcose.min.js"></script>
  <script src="https://unpkg.com/cytoscape-layout-utilities/cytoscape-layout-utilities.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape-popper/4.0.1/cytoscape-popper.min.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@4.0.1/umd/index.all.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/tippy.js@4.0.1/index.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dagre/0.8.5/dagre.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/cytoscape-dagre@2.5.0/cytoscape-dagre.min.js"></script>
  <script src="https://unpkg.com/cytoscape-svg@0.4.0/cytoscape-svg.js"></script>
</head>


<body>
<style>
#cy {
  width: 100%;
  height: 780px;
  display: block;
}
.panel {
  width: 1200px;
  font-size: 130%;
}

.panel .sections {
  display: flex;
  flex-direction: row;
  min-width: 0px;
}

.panel .sections div {
  flex-grow: 1;
}

.popper-div {
  position: relative;
  background-color: #eee;
  color: #111;
  border: 2px solid #999;
  font-size: 15px;
  line-height: 1.4;
  outline: 0;
  padding: 5px 9px;
  max-width: 40em;
}

#actions {
  position: absolute;
  right: 0;
  top: 0;
  background: #f8f8f8a0;
}

#save-svg-button {
  font-size: 120%;
  padding: 0.2em 0.5em;
}
</style>

<div id="cy"></div>

<div id="actions">
  <button id="save-svg-button" target="_blank" onclick="window.open(getSvgUrl(), '_blank')">View SVG</button>
</div>

<script type="module">
window.getSvgUrl = function() {
  var svgContent = window.cy.svg({scale: 1, full: true});
  var blob = new Blob([svgContent], {type:"image/svg+xml;charset=utf-8"});
  var url = URL.createObjectURL(blob);
  return url;
};

const summaryType = '{{summary_type}}';

document.addEventListener('DOMContentLoaded', async function(){
  const url = '/api/v1/dataset/latest/data/gocam/model_summary/' + summaryType;
  const response = await fetch(url);

  const modelConnections = await response.json();

  const elements = {
    nodes: modelConnections.nodes.map(node => { node.label = node.title; return { data: node } }),
    edges: modelConnections.edges.map(edge => { edge.weight = 0; return { data: edge } }),
  };

  const nodeStyle = {
    'content': 'data(title)',
    'width': '150px',
    'height': '80px',
    'background-color': '#ee8',
    'border-width': 1,
    'border-style': 'solid',
    'border-color': 'black',
    'font-size': 10,
    'text-valign': 'center',
    'color': 'black',
    'shape': 'round-rectangle',
    'text-wrap': 'wrap',
    'text-max-width': 150,
  };

  const edgeStyle = {
    'curve-style': 'bezier',
    'line-style': 'solid',
    'color': '#666',
    'width': 4,
    'line-color': 'black',
    'target-arrow-shape': function(el) {
      const hasDirection = el.data()['has_direction'];
      if (hasDirection) {
        return 'triangle';
      } else {
        return 'none';
      };
    },
    'target-arrow-fill': 'filled',
    'target-arrow-color': 'black',
    'arrow-scale': 2,
  };

//  cytoscape.use(cytoscapePopper(Popper.createPopper));

  const cy = window.cy = cytoscape({
    container: document.getElementById('cy'),

    ready: function(){
      if (summaryType == 'all_models') {
        this.layout({name: 'fcose', fit: false, randomize: true, quality: 'proof', animate: false}).run();
      } else {
        this.layout({ name: 'dagre',
                    nodeSep: 30,
                    edgeSep: 30,
                    rankDir: 'TB',
                    spacingFactor: 1.2,
                    acyclicer: 'greedy',
                  }).run()
      }
    },

    minZoom: 0.1,
    maxZoom: 8.0,
    zoomingEnabled: true,
    userZoomingEnabled: true,
    wheelSensitivity: 1.5,
    panningEnabled: true,
    userPanningEnabled: true,
    boxSelectionEnabled: true,
    selectionType: 'single',
    touchTapThreshold: 8,
    desktopTapThreshold: 4,
    autolock: false,
    autoungrabify: false,
    autounselectify: false,

    elements,

    style: [
      {
        selector: 'node',
        style: nodeStyle,
      },
      {
        selector: 'edge',
        style: edgeStyle,
      }
    ]
  });


  setTimeout(() => {
    cy.fit();
    cy.center();
  }, 10);

  cy.on('click', 'node',
        (evt) => {
          const id = evt.target.data().id.replace("gomodel:","");
          const link = '/gocam/pombase-view/full/' + id;
          window.open(link);
        });

  cy.on('click', 'edge',
        (evt) => {
          const id = evt.target.data().id.replaceAll("gomodel:","").replaceAll('-', '+');
          let link = '/gocam/pombase-view/full/' + id;
          const enablerId = evt.target.data().enabler_id;
          if (enablerId) {
            link += '/' + enablerId;
          }
          window.open(link);
        });
});
</script>

</body>
</html>
