<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protein features for {{gene_uniquename}} </title>
    <link href="https://cdn.jsdelivr.net/npm/tippy.js@6.3.7/dist/tippy.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tippy.js@6.3.7/themes/light-border.css" rel="stylesheet">
  </head>
  <body>

  <style>
  #pfv {
    margin-top: 1em;
  }
  .rcsbFvRowTitleText {
    text-transform: uppercase;
  }
  .rcsbDecorator_circle {
    display: none;
  }
  .no-features {
    font-size: 120%;
    padding: 1em;
  }
  .sub-content::before {
    content: '  - ';
  }
  .feature-display-name, .sub-content {
    font-weight: bold;
  }
  </style>

    <div id="pfv"></div>

    <script src="https://cdn.jsdelivr.net/npm/@rcsb/rcsb-saguaro@2.5.13/build/rcsb-saguaro.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tippy.js@6.3.7/dist/tippy.umd.min.js"></script>

  <script language="javascript" type="text/javascript">
const geneUniquename = '{{gene_uniquename}}';
const scope = '{{scope}}';

function noData() {
  document.getElementById('pfv').innerHTML = '<div class="no-features">No features available for ' + geneUniquename + '</div>';
}

window.onload = (event) => {

fetch("/api/v1/dataset/latest/protein_features/" + scope + "/" + geneUniquename)
  .then((response) => {
    return response.json();
  })
  .then((data) => {
    if (!data.tracks) {
      noData();
      return;
    }

    let hasFeatures = false;

    let titleFlagColor = '#ddd';

    let rowConfigData = [
      {
        trackId: "sequenceTrack",
        trackHeight: 20,
        trackColor: "#F9F9F9",
        titleFlagColor,
        displayType: "sequence",
        nonEmptyDisplay: true,
        rowTitle: "Sequence",
        trackData: [
          {
            begin: 1,
            value: data.sequence
          }
        ]
      }
    ];

    let typeConfig = {
      'Sequence': {
        helpText: 'Zoom in to see individual residues',
      },
      'TM domains': {
        colour: '#44f',
        allowGaps: true,
        helpText: 'Trans-membrane domains calculated with TMHMM',
        includeCoords: true,
        singular: 'TM domain',
      },
      'Low complexity': {
        colour: '#0aa',
        allowGaps: true,
        helpText: 'Low complexity regions from Pfam',
        includeCoords: true,
        singular: 'Low complexity',
      },
      'Coiled coils': {
        colour: '#a5a',
        allowGaps: true,
        helpText: 'Coiled coil regions from Pfam',
        includeCoords: true,
        singular: 'Coiled coil',
      },
      'Signal peptide': {
        colour: '#f42',
        allowGaps: true,
        helpText: 'Signal peptide regions imported from UniProt',
        includeCoords: true,
        singular: 'Signal peptide',
      },
      'Transit peptide': {
        colour: '#e52',
        allowGaps: true,
        helpText: 'Transit peptide regions imported from UniProt',
        includeCoords: true,
        singular: 'Transit peptide',
      },
      'Binding sites': {
        colour: '#52e',
        allowGaps: true,
        helpText: 'Binding sites imported from UniProt',
        includeCoords: true,
        singular: 'Binding site',
      },
      'Active sites': {
        colour: '#288',
        allowGaps: true,
        helpText: 'Active sites imported from UniProt',
        includeCoords: true,
        singular: 'Active site',
      },
      'Beta strands': {
        colour: '#25e',
        allowGaps: true,
        helpText: 'Beta strands imported from UniProt',
        includeCoords: true,
        singular: 'Beta strand',
      },
      'Helices': {
        colour: '#490',
        allowGaps: true,
        helpText: 'Helices imported from UniProt',
        includeCoords: true,
        singular: 'Helix',
      },
      'Turns': {
        colour: '#40a',
        allowGaps: true,
        helpText: 'Turns imported from UniProt',
        includeCoords: true,
        singular: 'Turn',
      },
      'Propeptides': {
        colour: '#a08',
        allowGaps: true,
/*        invertGaps: true, */
        helpText: 'Propeptides imported from UniProt',
        includeCoords: true,
        singular: 'Propeptide',
      },
      'Chains': {
        colour: '#b00',
        allowGaps: true,
        helpText: 'Chains imported from UniProt',
        includeCoords: true,
        singular: 'Chain',
      },
      'Disulfide bonds': {
        colour: '#090',
        allowGaps: true,
        helpText: 'Disulfide bonds imported from UniProt',
        displayType: 'bond',
        includeCoords: true,
        singular: 'Disulfide bond',
      },
      'AA substitution positions': {
        colour: '#f94',
        allowGaps: true,
        helpText: '<div>Positions where there are one or more amino acid substitutions</div>' +
          (scope == 'widget' ? '<div>Visit the full feature viewer to see allele details</div>' : ''),
        singular: 'AA substitution position',
      },
      'AA substitution alleles': {
        colour: '#f00',
        allowGaps: true,
        helpText: 'Curated amino acid substitution alleles',
        singular: 'AA substitution allele',
      },
      'Partial deletions': {
        colour: '#f00',
        allowGaps: true,
        invertGaps: true,
        helpText: 'Curated alleles with partial amino acid deletions',
        singular: 'Partial deletion',
      },
      'Modifications': {
        colour: '#00f',
        allowGaps: false,
        helpText: 'Curated modified residues',
        singular: 'Modification',
      },
      'Pfam domains': {
        colour: '#aa0',
        allowGaps: true,
        helpText: 'Pfam domains imported from InterPro',
        includeCoords: true,
        singular: 'Pfam domain',
      },
      'CDD': {
        colour: '#a09',
        allowGaps: true,
        helpText: 'CDD matches imported from InterPro',
        includeCoords: true,
        singular: 'CDD match',
      },
      'FunFam': {
        colour: '#3a9',
        allowGaps: true,
        helpText: 'FunFam matches imported from InterPro',
        includeCoords: true,
        singular: 'FunFam match',
      },
      'Gene3D': {
        colour: '#b78',
        allowGaps: true,
        helpText: 'Gene3D matches imported from InterPro',
        includeCoords: true,
        singular: 'Gene3D match',
      },
      'Hamap': {
        colour: '#4a4',
        allowGaps: true,
        helpText: 'Hamap matches imported from InterPro',
        includeCoords: true,
        singular: 'Hamap match',
      },
      'MobiDB-Disorder': {
        colour: '#05f',
        allowGaps: false,
        helpText: 'MobiDBLite consensus disordered regions imported from InterPro',
        includeCoords: true,
        singular: 'MobiDBLite disordered region',
      },
      'MobiDB-Polar': {
        colour: '#465',
        allowGaps: false,
        helpText: 'MobiDBLite disordered regions imported from InterPro',
        includeCoords: true,
        singular: 'MobiDBLite disordered region',
      },
      'MobiDB-Negative-Polyelectrolyte': {
        colour: '#098',
        allowGaps: false,
        helpText: 'MobiDBLite disordered regions imported from InterPro',
        includeCoords: true,
        singular: 'MobiDBLite disordered region',
      },
      'MobiDB-Polyampholyte': {
        colour: '#07d',
        allowGaps: false,
        helpText: 'MobiDBLite disordered regions imported from InterPro',
        includeCoords: true,
        singular: 'MobiDBLite disordered region',
      },
      'MobiDB-Positive-Polyelectrolyte': {
        colour: '#08c',
        allowGaps: false,
        helpText: 'MobiDBLite disordered regions imported from InterPro',
        includeCoords: true,
        singular: 'MobiDBLite disordered region',
      },
      'MobiDB-Proline-rich': {
        colour: '#60e',
        allowGaps: false,
        helpText: 'MobiDBLite disordered regions imported from InterPro',
        includeCoords: true,
        singular: 'MobiDBLite disordered region',
      },
      'NCBIfam': {
        colour: '#69a',
        allowGaps: false,
        helpText: 'NCBIfam matches imported from InterPro',
        includeCoords: true,
        singular: 'NCBIfam match',
      },
      'PANTHER': {
        colour: '#4d0',
        allowGaps: true,
        helpText: 'PANTHER matches imported from InterPro',
        includeCoords: true,
        singular: 'PANTHER match',
      },
      'PIRSF': {
        colour: '#38b',
        allowGaps: false,
        helpText: 'PIRSF matches imported from InterPro',
        includeCoords: true,
        singular: 'PIRSF match',
      },
      'PRINTS': {
        colour: '#a8a',
        allowGaps: false,
        helpText: 'PIRSF matches imported from InterPro',
        includeCoords: true,
        singular: 'PIRSF match',
      },
      'PROSITE_Profiles': {
        colour: '#89c',
        allowGaps: false,
        helpText: 'PROSITE Profile matches imported from InterPro',
        includeCoords: true,
        singular: 'PROSITE Profile match',
      },
      'Pfam': {
        colour: '#b92',
        allowGaps: true,
        helpText: 'Pfam matches imported from InterPro',
        includeCoords: true,
        singular: 'Pfam match',
      },
      'ProSitePatterns': {
        colour: '#e0a',
        allowGaps: true,
        helpText: 'ProSitePatterns matches imported from InterPro',
        includeCoords: true,
        singular: 'ProSitePatterns match',
      },
      'ProSiteProfiles': {
        colour: '#09f',
        allowGaps: true,
        helpText: 'ProSiteProfiles matches imported from InterPro',
        includeCoords: true,
        singular: 'ProSiteProfiles match',
      },
      'SFLD': {
        colour: '#38b',
        allowGaps: false,
        helpText: 'SFLD matches imported from InterPro',
        includeCoords: true,
        singular: 'SFLD match',
      },
      'SMART': {
        colour: '#292',
        allowGaps: true,
        helpText: 'SMART matches imported from InterPro',
        includeCoords: true,
        singular: 'SMART match',
      },
      'SUPERFAMILY': {
        colour: '#73e',
        allowGaps: true,
        helpText: 'SUPERFAMILY matches imported from InterPro',
        includeCoords: true,
        singular: 'SUPERFAMILY match',
      },
    };

    const modColours = {
      'MOD:01875': '#2b8',
      'MOD:01155': '#d2d27e',
      'MOD:00408': '#f88',
      'MOD:00696': '#86a8f4',
      'MOD:00427': '#c6f',
      'MOD:00764': '#d6009e',
      'MOD:00905': '#ff9943',
      '_': '#666',
    };

    Object.keys(typeConfig).forEach(key => {
      typeConfig[key.toUpperCase()] = typeConfig[key];
    });

    const makeExtraContent = (feature, trackConfig) => {
      let content = '';
      if (trackConfig.includeCoords) {
        const firstPos = feature.positions[0][1];
        const lastPos = feature.positions[feature.positions.length - 1][2];
        if (firstPos == lastPos) {
          content += '<div>Position: ' + firstPos + '</div>\n';
        } else {
          content += '<div>' + firstPos + '..' + lastPos + '</div>\n';
        }
      }
      if (feature.evidence) {
        content += '<div class="evidence">Evidence: ' + feature.evidence + '</div>\n';
      }
      if (feature.author_and_year) {
        content += '<div class="author-and-year">' + feature.author_and_year + '</div>\n';
      }
      if (feature.assigned_by) {
        content += '<div>Imported from: ' + feature.assigned_by + '</div>\n';
      }

      return content;
    };

    data.tracks.map(track => {
      let trackConfig;
      let trackHeight = 22;
      let borderWidth = 1;
      titleFlagColor = '#ddd';

      if (scope == 'widget' && track.name != 'Modifications') {
        trackHeight = 25;
      }

      if (scope !== 'widget' && track.name.toLowerCase().startsWith("pfam")) {
        titleFlagColor = '#bb9922';
      }
      if (track.name.toLowerCase().startsWith("pfam ")) {
        trackConfig = typeConfig['Pfam'];
        borderWidth = 0;
        trackHeight = 16;
      } else {
        trackConfig = typeConfig[track.name.toUpperCase()];
      }

      if (!trackConfig) {
        console.log("no configuration for: ", track.name);
        return;
      }

      if (track.features.length > 0) {
        hasFeatures = true;

        const trackData = [];

        const makeTrackData = (feature) => {
          const firstPos = feature.positions[0];
          const lastPos = feature.positions[feature.positions.length - 1];

          const popupExtraContent = makeExtraContent(feature, trackConfig);

          const newFeature = {
            id: feature.id + '-' + firstPos + '..' + lastPos,
            matchId: feature.id,
            displayName: feature.display_name || trackConfig.singular,
            popupExtraContent,
            begin: firstPos[1],
            end: lastPos[2],
            trackName: track.name,
            trackConfig: trackConfig,
          };

          if (track.name == 'Modifications') {
            if (feature.annotated_terms && feature.annotated_terms[0]) {
              const modFeatureGroup = feature.feature_group;
              newFeature.color = modColours['_'];
              if (modFeatureGroup && modColours[modFeatureGroup.termid]) {
                newFeature.color = modColours[modFeatureGroup.termid];
              }
            }
            if (feature.display_extension) {
              newFeature.display_extension = feature.display_extension;
            }
          } else {
            if (track.name == 'AA substitution alleles' || track.name == 'Partial deletions') {
              if (feature.viability_level) {
                if (feature.viability_level == 'normal') {
                  newFeature.color = '#999';
                } else {
                  if (feature.viability_level == 'abnormal') {
                    newFeature.color = '#292';
                  }
                }
              }
            }
            newFeature.annotated_terms = feature.annotated_terms;
          }

          if (feature.positions.length > 1) {
            let gaps = [];
            for (let i = 0; i < feature.positions.length - 1; i++) {
              const current = feature.positions[i];
              const currentEnd = current[2];
              const next = feature.positions[i+1];
              const nextStart = next[1];
              if (currentEnd < nextStart - 1) {
                gaps.push({
                  begin: currentEnd,
                  end: nextStart,
                });
              }
            }
            newFeature.gaps = gaps;
          }

          return newFeature;
        };
        const makeTrackDataInvertGaps = (feature) => {
          const sequence = data.sequence;

          const firstPos = 1;
          const lastPos = sequence.length;

          const popupExtraContent = makeExtraContent(feature, trackConfig);

          const newFeature = {
            id: feature.id + '-' + firstPos + '..' + lastPos,
            matchId: feature.id,
            displayName: feature.display_name || trackConfig.singular,
            popupExtraContent,
            annotated_terms: feature.annotated_terms,
            begin: firstPos,
            end: lastPos,
            trackName: track.name,
            trackConfig: trackConfig,
            color: track.colour,
          };

          if (track.name == 'AA substitution alleles' || track.name == 'Partial deletions') {
            if (feature.viability_level) {
              if (feature.viability_level == 'normal') {
                newFeature.color = '#999';
              } else {
                if (feature.viability_level == 'abnormal') {
                  newFeature.color = '#292';
                } else {
                  newFeature.color = track.colour;
                }
              }
            }
          }

          let gaps = [];
          for (let i = 0; i < feature.positions.length; i++) {
            const current = feature.positions[i];
            const begin = current[1] - 1;
            const end = current[2] + 1;

            gaps.push({
              begin,
              end,
            });

            newFeature.gaps = gaps;
          }

          return newFeature;
        };

        for (const feature of track.features) {
          const allowGaps = trackConfig?.allowGaps || false;
          if (allowGaps) {
            const invertGaps = trackConfig?.invertGaps || false;
            if (invertGaps) {
              trackData.push(makeTrackDataInvertGaps(feature))
            } else {
              trackData.push(makeTrackData(feature));
            }
          } else {
            for (const position of feature.positions) {
              let featureCopy = { ... feature };
              featureCopy.positions = [position];
              trackData.push(makeTrackData(featureCopy));
            }
          }
        }

        if (track.name == 'Partial deletions') {
          if (trackData.length > 25) {
            trackHeight = 10;
          } else {
            if (trackData.length > 10) {
              trackHeight = 12;
            }
          }
        }

        const conf = {
          trackId: track.name,
          trackHeight,
          trackColor: "#fcfcfc",
          titleFlagColor,
          borderWidth,
          displayType: typeConfig[track.name]?.displayType || track.display_type,
          displayColor: typeConfig[track.name]?.colour || '#ba6',
          rowTitle: track.name,
          includeTooltip: false,
          trackData,
        };

        rowConfigData.push(conf);
      }
    });

    if (!hasFeatures) {
      noData();
      return;
    }

    const tippyProps = {
      theme: 'light-border', maxWidth: '550px', allowHTML: true,
      followCursor: 'horizontal',
    };

    const tooltips = {};

    const trackWidth = scope == 'full' ? 970 : 650;

    const boardConfigData = {
      length: data.sequence.length,
      trackWidth,
      includeAxis: true,
      rowTitleWidth: 205,
      hideRowGlow: false,
      highlightHoverElement: false,
      highlightHoverPosition: false,
      elementEnterCallBack: function(obj, e) {
        if (obj.displayName) {
          const tip = tippy(e.target);
          let props = { ... tippyProps };
          let content = '<div class="feature-display-name">' + obj.displayName.replaceAll(',', ',&ZeroWidthSpace;') + '</div>';

          if (obj.annotated_terms && obj.annotated_terms.length > 0) {
            for (annotated_term of obj.annotated_terms) {
              content += '<div class="sub-content">' + annotated_term.name + '</div>';
            }
          }

          if (obj.display_extension) {
            for (ext of obj.display_extension) {
              content += '<div class="sub-content">' + ext + '</div>';
            }
          }

          if (obj.popupExtraContent) {
            content += obj.popupExtraContent;
          }

          tip.setContent(content);

          if (e.offsetX > trackWidth - 100 ||
              obj.displayName.length > 60 && e.offsetX > trackWidth - 300) {
            // avoid ovelapping the right hand controls
            props.placement = 'left';
          }
          tip.setProps(props);
          tip.show();
          tooltips[obj.id] = tip;
        }
      },
      elementLeaveCallBack: function(obj, e) {
        if (obj.id && tooltips[obj.id]) {
          const tip = tooltips[obj.id];
          tip.destroy();
        }
      },
    };

    const elementId = "pfv";
    const pfv = new RcsbFv.Create({
      boardConfigData,
      rowConfigData,
      elementId
    });

    pfv.then(() => {
      const titles = document.getElementsByClassName('rcsbFvRowTitleText');

      for (const el of titles) {
        const trackName = el.innerText.trim();
        const conf = typeConfig[trackName];
        if (conf && conf.helpText) {
          const tip = tippy(el, {
            content: conf.helpText,
          });
          let props = { ... tippyProps };
          delete props['followCursor'];
          props.placement = 'right';
          tip.setProps(props);
        }
      }
    });
  });
};
    </script>
  </body>
</html>
