<!DOCTYPE html>
<html lang="en">
<head>
  <script type="module"
    src="https://unpkg.com/@geneontology/wc-gocam-viz/dist/wc-gocam-viz/wc-gocam-viz.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/@geneontology/wc-gocam-viz/dist/wc-gocam-viz/wc-gocam-viz.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://unpkg.com/@geneontology/wc-gocam-viz@1.0.0/dist/collection/components/gocam-viz/gocam-viz.css">
</head>


<body>
  <script language="javascript" type="text/javascript">
  </script>

  <div id="gocam-viz">
    {{gocam_viz_html|safe}}
  </div>

</body>
</html>
