<!DOCTYPE html>
<html lang="en">
<head>
  <title>Model</title>

  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

  <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>
  <script src="https://unpkg.com/layout-base/layout-base.js"></script>
  <script src="https://unpkg.com/cytoscape-layout-utilities/cytoscape-layout-utilities.js"></script>
  <script src="https://unpkg.com/cytoscape-svg@0.4.0/cytoscape-svg.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape-popper/4.0.1/cytoscape-popper.min.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@4.0.1/umd/index.all.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/tippy.js@4.0.1/index.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dagre/0.8.5/dagre.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/cytoscape-dagre@2.5.0/cytoscape-dagre.min.js"></script>

  <script src="https://unpkg.com/cose-base/cose-base.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/cytoscape-fcose@2.2.0/cytoscape-fcose.min.js"></script>
</head>


<body>
<style>
#cy-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}
#cy {
  flex: 1 1 auto;
  min-width: 100px;
}
#panel-buttons, #actions {
  display: inline-block;
  position: absolute;
  right: 0;
  font-size: 110%;
}
#panel-buttons button, #actions button {
{% if full_or_widget == 'widget' %}
  font-size: 105%;
{% endif %}
{% if full_or_widget == 'full' %}
  font-size: 110%;
{% endif %}
}
#panel-buttons, #actions {
  padding: 0.2em 0.5em;
  background: #f8f8f8a0;
}
#actions {
  bottom: 1em;
}
#show-panel-button, #hide-panel-button, #save-svg-button {
  margin-left: 0.3em;
}
#show-panel-button {
  display: none;
}
#zoom-in, #zoom-out {
  font-weight: bold;
  padding: 0 0.4em;
  margin-left: 0.3em;
}
#cy-panel {
  width: 0.1em;
  flex: 0 0 auto;
{% if full_or_widget == 'widget' %}
  width: 18em;
{% endif %}
{% if full_or_widget == 'full' %}
  width: 20em;
{% endif %}
}
#cy-panel-contents {
  display: block;
}
#actions {
  padding: 0 0.5em;
  flex: 0 0 auto;
}
#node-details {
  padding: 2em 0 0 0.2em;
{% if full_or_widget == 'widget' %}
  height: 200px;
{% endif %}
{% if full_or_widget == 'full' %}
  height: 400px;
{% endif %}
  overflow: auto;
  background-color: #fbfbfb;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
#node-details .part-of-process div {
  padding-left: 1em;
  text-indent: -1.5em;
}
#node-details .term-link {
  padding-left: 1.5em;
  text-indent:-1.5em;
}
#node-details .enabler-part-of-complex {
  padding-left: 1em;
}
#node-details .gene-in-complex {
  padding-left: 1.5em;
}
.highlighted-gene {
  font-weight: bold;
}
#cy-panel .sections {
  font-size: 90%;
}
#cy-panel .sections div {
}
#rel-key {
  margin: 0.2em;
  overflow-y: auto;
{% if full_or_widget == 'widget' %}
  height: 200px;
{% endif %}
{% if full_or_widget == 'full' %}
  height: 400px;
{% endif %}
}
#rel-key .rel-item svg {
  height: 1.6em;
}
#rel-key .rel-item {
  font-size: 105%;
  max-width: 14rem;
  vertical-align: top;
}
.header {
  margin: 0.2em 0 0.5em 0;
  font-size: 110%;
}
.top-label-link {
  padding-bottom: 0.2em;
  font-size: 105%;
}
.models {
  padding-top: 0.2em;
}
.model-list {
  padding: 0.1em 0 0.1em 1.3em;
  margin: 0.1em;
}
.model-id {
  padding: 0;
  font-size: 95%;
}
.popper-div {
  position: relative;
  background-color: #eee;
  color: #333;
  border-radius: 4px;
  border: 1px solid #222;
  font-size: 14px;
  line-height: 1.4;
  outline: 0;
  padding: 5px 9px;
}
a {
  color: #337ab7;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #3076b0;
  text-decoration: underline;
}
</style>

<script type="module">
window.getSvgUrl = function() {
  var svgContent = window.cy.svg({scale: 1, full: true});
  var blob = new Blob([svgContent], {type:"image/svg+xml;charset=utf-8"});
  var url = URL.createObjectURL(blob);
  return url;
};

function capitalizeInitial(val) {
  const withSpaces = val.replaceAll('_', ' ');
  return String(withSpaces).charAt(0).toUpperCase() + String(withSpaces).slice(1);
}

const rawHighlightGeneIds = {{ highlight_gene_ids|safe }};
const highlightGeneIds = new Set(rawHighlightGeneIds.map(id => id.replace(/.*:/, '')))

let currentData = undefined;

document.addEventListener('DOMContentLoaded', async function(){

const fullOrWidget = '{{full_or_widget}}';
const gocamId = '{{gocam_id}}';

let url = '/api/v1/dataset/latest/data/go-cam-cytoscape/' + gocamId;

let flags = [];

if (gocamId.includes(':')) {
  const parts = gocamId.split(':');
  flags = parts[1].split(',');
}

if (flags.includes('retain_genes') || flags.includes('trim_models')) {
  url += '/' + {{ highlight_gene_ids|safe }}.join(',');
}

const isMegaModel = gocamId.toLowerCase() != gocamId;
const isMergedModel = isMegaModel || gocamId.includes("+");

const response = await fetch(url);

let elements = await response.json();

const models = elements['models'];

delete elements['models'];

const geneInfoMap = elements['gene_info_map'];
delete elements['gene_info_map'];

for (let key of Object.keys(geneInfoMap)) {
  const bits = key.split(':');
  if (bits[1]) {
    geneInfoMap[bits[1]] = geneInfoMap[key];
  }
}

let seenParentIds = new Set();


elements['nodes'].map(node => {
  if (node.data.parent) {
    seenParentIds.add(node.data.parent);
  }
});


if (flags.includes('show_models')) {
  models.map(details => {
    const id = details[0]
    if (!seenParentIds.has(id)) {
      return;
    }
    const title = details[1];
    elements.nodes.push({
      data: {
        id,
        title,
        type: 'model',
        node_id: id,
        label: title,
      }
    });
  });
}

const findModel = (modelId) => {
  for (const modelDetails of models) {
    if (modelDetails[0] === modelId || modelDetails[0] === 'gomodel:' + modelId) {
      return {
        id: modelDetails[0],
        title: modelDetails[1],
      };
    }
  }

  return undefined;
};

const STYLES = {
  SIZES: {
    DEFAULT: 5 // Maybe more later
  },
  COLORS: {
    BLUE: '#6495ED',
    PURPLE: '#800080',
    DARK_SLATE: '#2F4F4F',
    LIGHT_RED: '#fF9999',
    RED: '#FF0000',
    GREEN: '#008800',
    LIGHT_GREEN: '#95e095',
    PINK: '#ED6495',
    DARK_BLUE: '#483D8B',
    LIGHT_BLUE: '#add8e6',
    WHITE: '#FFFAFA',
    BLACK: 'black',
    GREY: '#CCCCCC'
  },
  LINE_STYLES: {
    SOLID: 'solid',
    DASHED: 'dashed'
  },
  GLYPHS: {
    NONE: null,
    TEE: 'tee',
    TRIANGLE: 'triangle',
    SQUARE: 'square',
    DIAMOND: 'diamond',
    CIRCLE: 'circle',
    CIRCLE_TRIANGLE: 'circle-triangle'
  }
};

// Map of relations to their style configurations
const RELATION_MAP = {
'causally upstream of, positive effect': {
    lineStyle: STYLES.LINE_STYLES.DASHED,
    glyph: STYLES.GLYPHS.TRIANGLE,
    label: 'causally upstream of, positive effect',
    color: STYLES.COLORS.LIGHT_GREEN,
    width: STYLES.SIZES.DEFAULT
  },
'causally upstream of, negative effect': {
    lineStyle: STYLES.LINE_STYLES.DASHED,
    glyph: STYLES.GLYPHS.TEE,
    label: 'causally upstream of, negative effect',
    color: STYLES.COLORS.LIGHT_RED,
    width: STYLES.SIZES.DEFAULT
  },
'constitutively upstream of': {
    lineStyle: STYLES.LINE_STYLES.DASHED,
    glyph: STYLES.GLYPHS.CIRCLE,
    label: 'constitutively upstream of',
    color: STYLES.COLORS.LIGHT_GREEN,
    width: STYLES.SIZES.DEFAULT
  },
'directly negatively regulates': {
    lineStyle: STYLES.LINE_STYLES.SOLID,
    glyph: STYLES.GLYPHS.TEE,
    label: 'directly negatively regulates',
    color: STYLES.COLORS.RED,
    width: STYLES.SIZES.DEFAULT
  },
'directly positively regulates': {
    lineStyle: STYLES.LINE_STYLES.SOLID,
    glyph: STYLES.GLYPHS.TRIANGLE,
    label: 'directly positively regulates',
    color: STYLES.COLORS.GREEN,
    width: STYLES.SIZES.DEFAULT
  },
'has input': {
    lineStyle: STYLES.LINE_STYLES.SOLID,
    glyph: STYLES.GLYPHS.CIRCLE,
    label: 'has input',
    color: STYLES.COLORS.BLUE,
    width: STYLES.SIZES.DEFAULT
  },
'input of': {
    lineStyle: STYLES.LINE_STYLES.SOLID,
    glyph: STYLES.GLYPHS.CIRCLE,
    label: 'input of',
    color: STYLES.COLORS.BLUE,
    width: STYLES.SIZES.DEFAULT
  },
'has output': {
    lineStyle: STYLES.LINE_STYLES.SOLID,
    glyph: STYLES.GLYPHS.CIRCLE,
    label: 'has output',
    color: STYLES.COLORS.PINK,
    width: STYLES.SIZES.DEFAULT
  },
'indirectly negatively regulates': {
    lineStyle: STYLES.LINE_STYLES.DASHED,
    glyph: STYLES.GLYPHS.TEE,
    label: 'indirectly negatively regulates',
    color: STYLES.COLORS.RED,
    width: STYLES.SIZES.DEFAULT
  },
'indirectly positively regulates': {
    lineStyle: STYLES.LINE_STYLES.DASHED,
    glyph: STYLES.GLYPHS.TRIANGLE,
    label: 'indirectly positively regulates',
    color: STYLES.COLORS.GREEN,
    width: STYLES.SIZES.DEFAULT
  },
'is small molecule inhibitor of': {
    lineStyle: STYLES.LINE_STYLES.SOLID,
    glyph: STYLES.GLYPHS.TEE,
    label: 'is small molecule inhibitor of',
    color: STYLES.COLORS.RED,
    width: STYLES.SIZES.DEFAULT
  },
'is small molecule activator of': {
    lineStyle: STYLES.LINE_STYLES.SOLID,
    glyph: STYLES.GLYPHS.TRIANGLE,
    label: 'is small molecule activator of',
    color: STYLES.COLORS.GREEN,
    width: STYLES.SIZES.DEFAULT
  },
'negatively regulates': {
    lineStyle: STYLES.LINE_STYLES.DASHED,
    glyph: STYLES.GLYPHS.TEE,
    label: 'negatively regulates',
    color: STYLES.COLORS.RED,
    width: STYLES.SIZES.DEFAULT
  },
'positively regulates': {
    lineStyle: STYLES.LINE_STYLES.DASHED,
    glyph: STYLES.GLYPHS.TRIANGLE,
    label: 'positively regulates',
    color: STYLES.COLORS.GREEN,
    width: STYLES.SIZES.DEFAULT
  },
'provides input for': {
    lineStyle: STYLES.LINE_STYLES.SOLID,
    glyph: STYLES.GLYPHS.CIRCLE_TRIANGLE,
    label: 'provides input for',
    color: STYLES.COLORS.PURPLE,
    width: STYLES.SIZES.DEFAULT
  },
'directly provides input for': {
    lineStyle: STYLES.LINE_STYLES.SOLID,
    glyph: STYLES.GLYPHS.CIRCLE_TRIANGLE,
    label: 'provides input for',
    color: STYLES.COLORS.PURPLE,
    width: STYLES.SIZES.DEFAULT
  },
'removes input for': {
    lineStyle: STYLES.LINE_STYLES.SOLID,
    glyph: STYLES.GLYPHS.SQUARE,
    label: 'removes input for',
    color: STYLES.COLORS.LIGHT_RED,
    width: STYLES.SIZES.DEFAULT
  },
'part of': {
    lineStyle: STYLES.LINE_STYLES.SOLID,
    glyph: STYLES.GLYPHS.TRIANGLE,
    label: 'part of',
    color: STYLES.COLORS.LIGHT_RED,
    width: STYLES.SIZES.DEFAULT
  },
'has part': {
    lineStyle: STYLES.LINE_STYLES.SOLID,
    glyph: STYLES.GLYPHS.TRIANGLE,
    label: 'has part',
    color: STYLES.COLORS.LIGHT_GREEN,
    width: STYLES.SIZES.DEFAULT
  },
'enabled by': {
    lineStyle: STYLES.LINE_STYLES.SOLID,
    glyph: STYLES.GLYPHS.TRIANGLE,
    label: 'enabled by',
    color: STYLES.COLORS.LIGHT_RED,
    width: STYLES.SIZES.DEFAULT
  },
'DEFAULT': {
    lineStyle: STYLES.LINE_STYLES.SOLID,
    glyph: STYLES.GLYPHS.TRIANGLE,
    label: 'enabled by',
    color: STYLES.COLORS.GREY,
    width: STYLES.SIZES.DEFAULT
  }
};

const isConnectingNode = (el) => {
  const type = el.data()['type'];
  if (!type.startsWith('enabled')) {
    return false;
  }
  return el.data()['is_connecting_node'];
};

const isSelected = (el) => {
  const data = el.data();

  const nodeIdBits = data['node_id'].split(':');
  if (nodeIdBits[1] && highlightGeneIds.has(nodeIdBits[1])) {
    return true;
  }

  const enablerId = data['enabler_id'];
  if (enablerId) {
    const bits = enablerId.split(':');
    if (bits[1] && highlightGeneIds.has(bits[1])) {
      return true;
    }
  }

  if (currentData && data['id'] == currentData.id) {
    return true;
  }

  if (data['has_part_genes']) {
    for (const id of data['has_part_genes']) {
      if (highlightGeneIds.has(id)) {
        return true;
      }
    }
  }

  return false;
};

const nodeStyle = {
'content': 'data(display_label)',
'width': '110px',
'height': '40px',
'background-color': function(el) {
  const type = el.data()['type'];
  if (type == 'chemical') {
    return '#b2dfdb';
  } else if (type == 'modified_protein') {
    return '#b2bfef';
  } else if (type == 'gene') {
    return '#b2fbef';
  } else if (type == 'enabled_by_gene') {
    if (el.data()['label'] == 'molecular_function') {
      return '#ffd3d4';
    } else {
      if (el.data()['label'].startsWith('obsolete ')) {
        return '#eee';
      } else {
        return '#c8e6c9';
      }
    }
  } else if (type == 'enabled_by_complex') {
    return '#e2bde7';
  } else if (type == 'enabled_by_chemical') {
    return '#fffbb5';
  } else if (type == 'mrna') {
    return '#ccf';
  } else if (type == 'enabled_by_modified_protein') {
    return '#d8c5ff';
  } else {
    return '#ee7';
  }
},
'background-opacity': function(el) {
  let opacity = 1;
  if (isConnectingNode(el)) {
    opacity = 0.333
  }
  return opacity
},
'border-width': function(el) {
  let width = isSelected(el) ? 5 : 1;
  return width;
},
'border-style': function(el) {
  let style = 'solid';
  if (isConnectingNode(el)) {
    style = 'dashed';
  }
  return style;
},
'border-dash-pattern': [6,6],
'border-color': function(el) {
  let colour = 'black';
  if (!isSelected(el) && isConnectingNode(el)) {
    colour = '#666';
  }
  return colour
},
'font-size': function(el) {
  const type = el.data()['type'];
  if (type == 'chemical' || type == 'enabled_by_complex') {
    return 10;
  } else {
    return 12;
  }
},
'text-valign': 'center',
'color': 'black',
'shape': function(el) {
  const type = el.data()['type'];
  if (type.startsWith('enabled_by')) {
    if (type == 'enabled_by_complex') {
      return "round-rectangle";
    } else {
      return "ellipse";
    }
  } else {
    return "rectangle";
  }
},
'text-wrap': 'wrap',
"text-max-width": 84,
};

const parentStyle = {
  'background-color': '#ebefff',
  'background-opacity': 0.5,
  'text-valign': 'top',
  'text-halign': 'center',
  "text-max-width": "80em",
  'font-size': "36px",
  'shape': 'round-rectangle',
  'corner-radius': "10",
  'padding': "10px",
  'content': "data(title)",
  'border-width': '2px',
  'border-color': '#555',
};

const edgeStyle = {
'curve-style': 'bezier',
'line-style': function(el) {
  const label = el.data()['label'];
  return (RELATION_MAP[label] || RELATION_MAP['DEFAULT'])['lineStyle'];
},
'target-arrow-shape': function(el) {
  const label = el.data()['label'];
  return (RELATION_MAP[label] || RELATION_MAP['DEFAULT'])['glyph'];
},
'target-arrow-fill': 'filled',
'color': 'black',
'width': 4,
'target-arrow-color': function(el) {
  const label = el.data()['label'];
  return (RELATION_MAP[label] || RELATION_MAP['DEFAULT'])['color'];
},
'line-color': function(el) {
  const label = el.data()['label'];
  return (RELATION_MAP[label] || RELATION_MAP['DEFAULT'])['color'];
},
};

const dagLayout = {
  name: 'dagre',
//  rankDir: 'TB',
  rankDir: undefined,
  align: 'UR',
};

const mergedLayout = {
};

cytoscape.use(cytoscapePopper(Popper.createPopper));

const cy = window.cy = cytoscape({
  container: document.getElementById('cy'),

  layout: isMegaModel ? mergedLayout : dagLayout,

  ready: function() {
    if (isMegaModel) {
      const func = () => {
        this.layout({name: 'fcose',
                     fit: true,
                     randomize: true,
                     idealEdgeLength: (edge) => {
                       if (edge.data().ideal_edge_length) {
                         return edge.data().ideal_edge_length;
                       } else {
                         return 50;
                       }
                     },
                     uniformNodeDimensions: true,
                     quality: 'proof',
                     animate: false,
                     nodeRepulsion: 2000,
                     gravityRangeCompound: 1,
                     gravityCompound: 0.1,
                     gravityRange: 0.02,
                     gravity: 1.5}).run();

      };
      func();
    }
  },

  minZoom: 0.01,
  maxZoom: 40.0,
  zoomingEnabled: true,
  userZoomingEnabled: true,
  wheelSensitivity: 1.4,
  panningEnabled: true,
  userPanningEnabled: true,
  boxSelectionEnabled: true,
  selectionType: 'single',
  touchTapThreshold: 8,
  desktopTapThreshold: 4,
  autolock: false,
  autoungrabify: false,
  autounselectify: false,

  elements,
  style: [
    {
      selector: 'node',
      style: nodeStyle,
    },
    {
      selector: 'edge',
      style: edgeStyle,
    },
    {
      selector: ':parent',
      style: parentStyle,
    },
  ]
  });

  if (!isMegaModel) {
    cy.layout({ name: 'dagre' }).run();
  }

  setTimeout(() => {
    cy.fit();
    cy.center();
  }, 10);

  const contentDiv = document.getElementById("node-details");

  const panelEl = document.getElementById("cy-panel");
  const panelStyle = panelEl.style;
  const panelContent = document.getElementById("cy-panel-contents");
  const showPanelButton = document.getElementById("show-panel-button");
  const hidePanelButton = document.getElementById("hide-panel-button");

  window.showCyPanel = function() {
    if (fullOrWidget == 'widget') {
      panelStyle.width = '18em';
    } else {
      panelStyle.width = '20em';
    }
    showPanelButton.style.display = 'none';
    hidePanelButton.style.display = 'inline-block';
    panelContent.style.display = 'block';
    /* wait until someone asks for this:
    cy.ready(function() {
      setTimeout(() => {
        cy.fit();
        cy.center();
      }, 300);
    });
    */
  };

  window.hideCyPanel = function() {
    panelStyle.width = '0.1em';
    showPanelButton.style.display = 'inline-block';
    hidePanelButton.style.display = 'none';
    panelContent.style.display = 'none';
    /*
    cy.ready(function() {
      setTimeout(() => {
        cy.fit();
        cy.center();
      }, 300);
    });
    */
  }

  window.modelZoomIn = function() {
    cy.zoom(cy.zoom() / 0.8);
    cy.center();
  }

  window.modelZoomOut = function() {
    cy.zoom(cy.zoom() * 0.8);
    cy.center();
  }

  function updateDetails() {
    if (!currentData) {
      contentDiv.innerHTML = '';
      return;
    }

    const nodeId = currentData.node_id;
    const nodeType = currentData.type;
    const label = currentData.label;

    if (nodeId) {
      showCyPanel();

      const makeLink = (id, label) => {
        const bits = id.split(":");
        if (bits.length == 2) {
          if (bits[0] == 'PomBase') {
            return `<a target="_blank" href="/gene/${bits[1]}">${label}</a>`;
          } else {
            if (bits[0] == 'CHEBI') {
              return `<a target="_blank" href="https://www.ebi.ac.uk/chebi/chebiOntology.do?chebiId=${id}">${label} (${id})</a>`;
            } else {
              if (bits[0] == 'GO') {
                return `<a target="_blank" href="/term/${id}">${label} (${id})</a>`;
              } else {
                if (bits[0].startsWith('gomodel')) {
                  const modelId = bits[1];
                  const modelDetails = findModel(modelId);

                  if (modelDetails) {
                    return `<a target="_blank" href="/gocam/pombase-view/docs/${modelId}">${modelDetails.title}</a>`;
                  } else {
                    return modelId;
                  }
                }
              }
            }
          }
        }

        return label;
      };

      let headerText;

      if (nodeType.startsWith('enable')) {
        headerText = 'Activity';
      } else {
        if (nodeType == 'mrna') {
          headerText = 'mRNA';
        } else {
          if (nodeType == 'gene') {
            headerText = 'Target gene';
          } else {
            headerText = capitalizeInitial(nodeType);
          }
        }
      }

      let newContent =
          '<div class="header">' + headerText + '</div>' +
          '<div class="top-label-link">' + makeLink(nodeId, label) + '</div>';

      const enabler_label = currentData.enabler_label;

      if (enabler_label) {
        const enabler_id = currentData.enabler_id;
        newContent += '<div>enabled by: ' +
          makeLink(enabler_id, enabler_label);

        if (currentData.enabler_part_of_complex) {
          const label = currentData.enabler_part_of_complex.label;
          const id = currentData.enabler_part_of_complex.id;
          newContent += '<div class="enabler-part-of-complex">part of complex: <div class="part-of-process term-link">' + makeLink(id, label) +
            '</div></div>';
        }

        newContent += '</div>';
      }

      if (currentData.occurs_in) {
        for (const occursIn of currentData.occurs_in) {
          const component = occursIn.complex_component ||
                occursIn.other_component;
          const label = component.label;
          const id = component.id;
          newContent += '<div class="term-link">occurs in: ' + makeLink(id, label) + '</div>';
        }
      }

      if (currentData.located_in) {
        const component = currentData.located_in.complex_component ||
              currentData.located_in.other_component;
        const label = component.label;
        const id = component.id;
        newContent += '<div class="term-link">located in: ' + makeLink(id, label) + '</div>';
      }

      if (currentData.part_of_process) {
        const label = currentData.part_of_process.label;
        const id = currentData.part_of_process.id;
        newContent += '<div class="part-of-process term-link">part of: ' + makeLink(id, label);
        const parent = currentData.part_of_process.part_of_parent;
        if (parent) {
          newContent += '<div>part of: ' + makeLink(parent.id, parent.label) + '</div>';
        }
        newContent += '</div>';
      }

      if (currentData.happens_during) {
        const label = currentData.happens_during.label;
        const id = currentData.happens_during.id;
        newContent += '<div class="happens-during term-link">happens during: ' + makeLink(id, label);
        newContent += '</div>';
      }

      if (nodeType !== 'model') {
        if (isMergedModel) {
          newContent += '<div class="models">Models:</div><ul class="model-list">';
          for (const longModelId of currentData.model_ids) {
            newContent += '<li class="model-id">' + makeLink(longModelId) + '</li>';
          }
          newContent += '</ul>';
        }
      }

      if (currentData.has_part_genes && currentData.has_part_genes.length > 0) {
        newContent += '<div><div>genes in complex:</div>';
        for (const id of currentData.has_part_genes) {
          let label = id;
          if (geneInfoMap[id]) {
            label = geneInfoMap[id];
          }
          if (highlightGeneIds.has(id)) {
            newContent += '<div class="gene-in-complex highlighted-gene">' + makeLink('PomBase:' + id, label) + '</div>';
          } else {
            newContent += '<div class="gene-in-complex">' + makeLink('PomBase:' + id, label) + '</div>';
          }
        }
        newContent += '</div>';
      }

      contentDiv.innerHTML = newContent;
    } else {
      contentDiv.innerHTML = '';
    }
  }

  elements['nodes'].map(node => {
    if (node.data.enabler_id &&
        rawHighlightGeneIds.length == 1 &&
        rawHighlightGeneIds[0] == node.data.enabler_id.replace(/.*:/, '')) {
      // select the highlighted gene if there's only one
      currentData = node.data;
    }
  });

  updateDetails();

  cy.on('click', (event) => {
    if (event.target === cy) {
      // clicked on the background
      contentDiv.innerHTML = '';
      currentData = undefined;
    }
  });

  cy.elements().bind("click", (event) => {
    const data = event.target.data();
    currentData = data;

    updateDetails();
  });

});
</script>

  <div id="cy-container">
    <div id="cy"></div>
  <div id="panel-buttons">
    <button id="zoom-out" title="Zoom out" onclick="modelZoomOut()">
{% if full_or_widget == 'widget' %}
    -
{% endif %}
{% if full_or_widget == 'full' %}
     <img width="16px" height="16px" src='data:image/svg+xml;charset=utf-8,<?xml version="1.0" encoding="UTF-8" standalone="no"?> <svg width="10mm" height="10mm" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"> <g transform="matrix(0.09090916,0,0,0.09090916,-2.2369372,-4.0168636)"> <rect style="fill:%23000000;stroke-width:0.264583" width="116.41666" height="31.75" x="31.75" y="95.25" ry="0.26052997" /> </g> </svg>'/>
{% endif %}
    </button>
    <button id="zoom-in" title="Zoom in" onclick="modelZoomIn()">
{% if full_or_widget == 'widget' %}
    +
{% endif %}
{% if full_or_widget == 'full' %}
      <img width="16px" height="16px" src='data:image/svg+xml;charset=utf-8,<?xml version="1.0" encoding="UTF-8" standalone="no"?> <svg width="10mm" height="10mm" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"> <g transform="matrix(0.09090916,0,0,0.09090916,-2.2369372,-4.0168636)"> <rect style="fill:%23000000;stroke-width:0.264583" width="116.41666" height="31.75" x="31.75" y="95.25" ry="0.26052997" /> <rect style="fill:%23000000;stroke-width:0.264583" width="31.749998" height="116.41666" x="74.083336" y="52.916668" ry="0" /> </g> </svg>'/>
{% endif %}
    </button>
    <button id="show-panel-button" onclick="showCyPanel()">Show side panel</button>
    <button id="hide-panel-button" onclick="hideCyPanel()">Hide side panel</button>
  </div>
  <div id="actions">
    <button id="save-svg-button" target="_blank" onclick="window.open(getSvgUrl(), '_blank')">View as SVG</button>
  </div>
<div id="cy-panel">
  <div id="cy-panel-contents">
  <div id="node-details">

  </div>

  <div id="rel-key">
  <svg height="0" width="0" style="position: absolute;">
    <defs>
      <marker id="triangle-RO:0002304" viewBox="-2 0 18 10" refX="18" refY="5" markerWidth="12" markerHeight="4" orient="auto">
        <path d="M 12 0 L 20 5 L 12 10 z" fill="#95e095">
        </path>
      </marker>
      <marker id="tee-RO:0002305" viewBox="-2 0 18 10" refX="18" refY="5" markerWidth="12" markerHeight="4" orient="auto">
        <rect x="14" y="0" width="4" height="10" fill="#fF9999">
        </rect>
      </marker>
      <marker id="circle-RO:0012009" viewBox="-2 0 18 10" refX="18" refY="5" markerWidth="12" markerHeight="4" orient="auto">
        <circle cx="16" cy="5" r="5" fill="#95e095">
        </circle>
      </marker>
      <marker id="tee-RO:0002630" viewBox="-2 0 18 10" refX="18" refY="5" markerWidth="12" markerHeight="4" orient="auto">
        <rect x="14" y="0" width="4" height="10" fill="#FF0000">
        </rect>
      </marker>
      <marker id="triangle-RO:0002629" viewBox="-2 0 18 10" refX="18" refY="5" markerWidth="12" markerHeight="4" orient="auto">
        <path d="M 12 0 L 20 5 L 12 10 z" fill="#008800">
        </path>
      </marker>
      <marker id="circle-RO:0002233" viewBox="-2 0 18 10" refX="18" refY="5" markerWidth="12" markerHeight="4" orient="auto">
        <circle cx="16" cy="5" r="5" fill="#6495ED">
        </circle>
      </marker>
      <marker id="circle-RO:0002234" viewBox="-2 0 18 10" refX="18" refY="5" markerWidth="12" markerHeight="4" orient="auto">
        <circle cx="16" cy="5" r="5" fill="#ED6495">
        </circle>
      </marker>
      <marker id="tee-RO:0002409" viewBox="-2 0 18 10" refX="18" refY="5" markerWidth="12" markerHeight="4" orient="auto">
        <rect x="14" y="0" width="4" height="10" fill="#FF0000">
        </rect>
      </marker>
      <marker id="triangle-RO:0002407" viewBox="-2 0 18 10" refX="18" refY="5" markerWidth="12" markerHeight="4" orient="auto">
        <path d="M 12 0 L 20 5 L 12 10 z" fill="#008800">
        </path>
      </marker>
      <marker id="tee-RO:0012006" viewBox="-2 0 18 10" refX="18" refY="5" markerWidth="12" markerHeight="4" orient="auto">
        <rect x="14" y="0" width="4" height="10" fill="#FF0000">
        </rect>
      </marker>
      <marker id="triangle-RO:0012005" viewBox="-2 0 18 10" refX="18" refY="5" markerWidth="12" markerHeight="4" orient="auto">
        <path d="M 12 0 L 20 5 L 12 10 z" fill="#008800">
        </path>
      </marker>
      <marker id="tee-RO:0002212" viewBox="-2 0 18 10" refX="18" refY="5" markerWidth="12" markerHeight="4" orient="auto">
        <rect x="14" y="0" width="4" height="10" fill="#FF0000">
        </rect>
      </marker>
      <marker id="triangle-RO:0002213" viewBox="-2 0 18 10" refX="18" refY="5" markerWidth="12" markerHeight="4" orient="auto">
        <path d="M 12 0 L 20 5 L 12 10 z" fill="#008800">
        </path>
      </marker>
      <marker id="circle-triangle-RO:0002413" viewBox="-2 0 18 10" refX="18" refY="5" markerWidth="12" markerHeight="4" orient="auto">
        <path d="M 4 0 L 12 5 L 4 10 z" fill="#800080">
        </path>
        <circle cx="16" cy="5" r="5" fill="#800080">
        </circle>
      </marker>
      <marker id="square-RO:0012010" viewBox="-2 0 18 10" refX="18" refY="5" markerWidth="12" markerHeight="4" orient="auto">
        <rect x="12" y="0" width="8" height="10" fill="#fF9999">
        </rect>
      </marker>
    </defs>
  </svg>
<div class="header" part="header">Relation Types</div>
<div class="sections" part="sections">
<div class="section regulation" part="section">
  <table>
  <tr><td class="rel-item">
    <svg viewBox="0 0 50 30">
      <line x1="5" y1="15" x2="45" y2="15" stroke="#008800" stroke-width="5" stroke-dasharray="none" marker-end="url(#triangle-RO:0002629)">
      </line>
    </svg>
    </td>
    <td>
    <span>direct positive regulation/activation</span>
  </td></tr>
  <tr><td class="rel-item">
    <svg viewBox="0 0 50 30">
      <line x1="5" y1="15" x2="45" y2="15" stroke="#FF0000" stroke-width="5" stroke-dasharray="none" marker-end="url(#tee-RO:0002630)">
      </line>
    </svg>
    </td>
    <td>
    <span>direct negative regulation/inhibition</span>
  </td></tr>
  <tr><td class="rel-item">
    <svg viewBox="0 0 50 30">
      <line x1="5" y1="15" x2="45" y2="15" stroke="#008800" stroke-width="5" stroke-dasharray="5,5" marker-end="url(#triangle-RO:0002407)">
      </line>
    </svg>
    </td>
    <td>
    <span>indirect positive regulation</span>
  </td></tr>
  <tr><td class="rel-item">
    <svg viewBox="0 0 50 30">
      <line x1="5" y1="15" x2="45" y2="15" stroke="#FF0000" stroke-width="5" stroke-dasharray="5,5" marker-end="url(#tee-RO:0002409)">
      </line>
    </svg>
    </td>
    <td>
    <span>indirect negative regulation</span>
  </td></tr>
</td></tr>
  <tr><td class="rel-item">
    <svg viewBox="0 0 50 30">
      <line x1="5" y1="15" x2="45" y2="15" stroke="#800080" stroke-width="5" stroke-dasharray="none" marker-end="url(#circle-triangle-RO:0002413)">
      </line>
    </svg>
    </td>
    <td>
    <span>provides input for</span>
  </td></tr>
  <tr><td class="rel-item">
    <svg viewBox="0 0 50 30">
      <line x1="5" y1="15" x2="45" y2="15" stroke="#fF9999" stroke-width="5" stroke-dasharray="none" marker-end="url(#square-RO:0012010)">
      </line>
    </svg>
    </td>
    <td>
    <span>removes input for</span>
  </td></tr>
  <tr><td class="rel-item">
    <svg viewBox="0 0 50 30">
      <line x1="5" y1="15" x2="45" y2="15" stroke="#6495ED" stroke-width="5" stroke-dasharray="none" marker-end="url(#circle-RO:0002233)">
      </line>
    </svg>
    </td>
    <td>
    <span>input of</span>
  </td></tr>
  <tr><td class="rel-item">
    <svg viewBox="0 0 50 30">
      <line x1="5" y1="15" x2="45" y2="15" stroke="#ED6495" stroke-width="5" stroke-dasharray="none" marker-end="url(#circle-RO:0002234)">
      </line>
    </svg>
    </td>
    <td>
    <span>has output</span>
  </td></tr>
</td></tr>
  <tr><td class="rel-item">
    <svg viewBox="0 0 50 30">
      <line x1="5" y1="15" x2="45" y2="15" stroke="#95e095" stroke-width="5" stroke-dasharray="5,5" marker-end="url(#circle-RO:0012009)">
      </line>
    </svg>
    </td>
    <td>
    <span>constitutively upstream</span>
  </td></tr>
  <tr><td class="rel-item">
    <svg viewBox="0 0 50 30">
      <line x1="5" y1="15" x2="45" y2="15" stroke="#95e095" stroke-width="5" stroke-dasharray="5,5" marker-end="url(#triangle-RO:0002304)">
      </line>
    </svg>
    </td>
    <td>
    <span>upstream positive effect</span>
  </td></tr>
  <tr><td class="rel-item">
    <svg viewBox="0 0 50 30">
      <line x1="5" y1="15" x2="45" y2="15" stroke="#fF9999" stroke-width="5" stroke-dasharray="5,5" marker-end="url(#tee-RO:0002305)">
      </line>
    </svg>
    </td>
    <td>
    <span>upstream negative effect</span>
  </td></tr>
</table>
</body>
</html>
